.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1f2937;
    padding: 1%;
    color: white;
}

.footer-logo {
    cursor: pointer;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 100px; 
    height: auto;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}
