.list-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

.list-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
  color: #333;
  background-color: #fff;
}

.search-input:focus {
  border-color: #ff758c;
  box-shadow: 0 0 5px rgba(255, 117, 140, 0.5);
}

.no-results {
  text-align: center;
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}