#game-area {
  width: 90vw; /* Sử dụng tỷ lệ phần trăm để responsive */
  max-width: 400px;
  height: 90vw;
  max-height: 400px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  position: relative;
  margin: 0 auto; /* Center the game area */
}

.box {
  width: 10%; /* Tỷ lệ dựa trên kích thước game area */
  height: 10%;
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  background-color: red;
  transition: transform 0.2s ease-in-out;
}

#user-list {
  margin-top: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 90%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}
